<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="img"></div>

  <table border="0"><tr>
    <td width="66%">
      <h1>Fitness Guru</h1>
      <h2>Your guru for all things fitness</h2>
    </td>

    <td>
      <img height=300 src="images/icon-healing.png" />
    </td>

  </tr></table>
 </div>

 <p class="copytext">
    Fitness Guru is your home for achieving your fitness goals. Sign up and tell us your fitness goal. We'll give you an assessment right away. Next, if you need to adjust your Body Mass Index (BMI), we'll give you the tool for tracking your weight over time.
 </p>
 <p class="copytext">Sign up today!</p>

<table class="profilestable">
  <thead>
    <tr>
      <th>Userid</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Height</th>
      <th>Fitness Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.userId %></td>
        <td><%= profile.name %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.age %></td>
        <td><%= profile.feet %>' <%= profile.inch %>"</td>
        <td><%= profile.fitnessGoal %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Remove', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr><td colspan="9">
      <%= link_to 'New Profile', new_profile_path %>
    </td></tr>
  </tbody>
</table>

