
<h1>Profile for <%= @profile.name %> </h1>

<p id="notice"><%= notice %></p>

<div class="showprofile">
<table><tr>
<td>
<p>
  <strong>Name:</strong><%= @profile.name %>
</p>

<p>
  <strong>Gender:</strong><%= @profile.gender %>
</p>

<p>
  <strong>Userid:</strong><%= @profile.userId %>
</p>

<p>
  <strong>Age:</strong><%= @profile.age %>
</p>

<p>
  <strong>Height:</strong><%= @profile.feet %>' <%= @profile.inch %>"
</p>

<p>
  <strong>Weight:</strong><%= @profile.weight %>
</p>

<p>
  <strong>Fitness Goal:</strong><%= @profile.fitnessGoal %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Main', profiles_path %>
</td>

<td>
  <% if @weights.count==0 %>
    <p>There are no weights recorded</p>
  <% else %>
    <% @weights.each do |weight| %>
      <p><strong>Weight:</strong> 
      <%= weight.updated_at.localtime.strftime('%a, %d %b %Y %H:%M') %> was <%=weight.weight%>lbs</p>
    <% end %>
    <br>
    <p><strong>Current BMI:</strong>
      <%=@BMI%> which is <%=@BMI_message%>
    </p>
  <% end %>
  <%= link_to 'New Weight', '/weights/' + @profile.id.to_s + '/new' %>
</td>

</tr></table>
</div>

<table class="profilestable">
  <tr>
  <th><h2>Resistance</h2></th>
  <th><h2>Cardio</h2></th>
  <th><h2>Nutrition</h2></th>
  </tr>

  <tr>
  <td>
    <p><%=@recommend['resistance']%></p>
    <p><a href=<%=@recommend['resources'][0]%> target="_blank">Beginner workout routine</a></p>
  </td>
  <td>
    <p><%=@recommend['cardio']%>   </p>
    <p><a href=<%=@recommend['resources'][1]%> target="_blank">Target heart rate zones</a></p>
  </td>
  <td>
    <p><%=@recommend['nutrition']%></p>
    <p><a href=<%=@recommend['resources'][2]%> target="_blank">Sample meal planning</a></p>
  </td>
</tr></table>


